<%- include layouts/header.ejs %>

        <div class="page-data">
            <% if (globalMessage) { %>
                    <p class="alert <%= globalMessage.class %>" id="errorMessage">
                        <%= globalMessage.message %>
                    </p>
                <% } %>
            <h2 class="page-title">
                Live Chat
            </h2>
            <% if(session.role == 'admin'){ %>
                
            <% } %>
            <div class="row">
                <div class="col-md-8 chatLeftWraper">
                    <div class="row">
                        
                        <div class="chatMessage">
                            <div class="chatMessageArea" id="chatMessageArea">
                                <% if(chatmessage.length){
                                    for(var i = 0;i < chatmessage.length;i++) { %>
                                        <ul>
                                            <div id="asdf">
                                                <li>
                                                    <strong>
                                                        <% if( chatmessage[i].username == session.username ) { %>
                                                            Me
                                                        <% } else { %>
                                                            <%=chatmessage[i].username%>
                                                        <% } %>
                                                    </strong>
                                                    : <%=chatmessage[i].chattext%>
                                                </li>
                                            </div>
                                        </ul>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="chatMessageForm">
                                <form action="/customers/chat" method="post" id="chatForm">
                                    <input autofocus="autofocus" type="text" name="message" id="message" placeholder="Compose Message" required/>
                                    <input type="hidden" name="username" id="chatusername" value="<%=session.username%>">
                                    <input type="hidden" name="userid" value="<%=session.userId%>">
                                    <input type="button" class="submit" id="chatsubmit" name="submit" value="Send">
                                    <a href="/customers/clearchat">Clear</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 chatRightWraper">
                    <div class="row">
                        <h3>Users</h3>
                        <% if(data.length){
                            for(var i = 0;i < data.length;i++) { %>
                                <div class="chatUserName">
                                    <a href=""> <%=data[i].username%></a>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            
        </div>
        
<%- include layouts/footer.ejs %>
