<%- include layouts/header.ejs %>
    
        <div class="page-data">
            
            <form method="post" action="/customers/edit/<%=data[0].id%>" class="loginForm">
                <table cellpadding="11">
                <tr>
                    <td colspan="2">
                        <h2>Personal  Information</h2>
                    </td>
                </tr>
                <tr>
                    <td class="label" valign="top">Address</td>
                    <td valign="top"> 
                        <textarea name="address" required cols="30" rows="5"><%=data[0].address%></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td> <input type="text" value="<%=data[0].email%>" name="email" required></td>
                </tr>
                <tr>
                    <td class="label">Phone</td>
                    <td> <input type="text" name="phone" value="<%=data[0].phone%>" ></td>
                </tr>
                <tr>
                    <td class="label">About Me</td>
                    <td> <textarea name="aboutMe"  cols="30" rows="5" ><%=data[0].aboutme%></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2>Social Media Profile</h2>
                    </td>
                </tr>
                <tr>
                    <td class="label">Facebook</td>
                    <td> <input type="text" name="fbLink" value="<%=data[0].fbLink%>" ></td>
                </tr>
                <tr>
                    <td class="label">Twitter</td>
                    <td> <input type="text" name="twLink" value="<%=data[0].twLink%>" ></td>
                </tr>
                <tr>
                    <td class="label">Linkedin</td>
                    <td> <input type="text" name="liLink" value="<%=data[0].liLink%>" ></td>
                </tr>
                <tr>
                    <td class="label">Profile Picture</td>
                    <td> <input type="file" name="profilePicture" value="" ></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="Save">
                        <p style="float: left;line-height: 36px;margin: 0px 16px;"> Or </p>
                        <% if(session.userRoleId != 1){ %>
                            <input type="button" name="cancel" value="Cancel" class="cancel" onClick="profile()">
                        <% }else { %>
                            <input type="button" name="cancel" value="Cancel" class="cancel" onClick="customerList()">
                            <% } %>
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
