<%- include layouts/header.ejs %>

        <div class="page-data">
            <% if (globalMessage) { %>
                <p class="alert <%= globalMessage.class %>" id="errorMessage">
                    <%= globalMessage.message %>
                </p>
            <% } %>
            <div class="row">
                <% if(data.length){ %>
                    <div class="col-md-3">
                        <div class="row">
                            <% if( data[0].profilepicture ){ %>
                                <div class="profilePictureArea" id="profilePictureArea">
                                    <div width="276px" height="245px" class="profilePicture imgLiquid" id="profilePicture">
                                        <img src="/../images/profile/<%=data[0].profilepicture%>.<%=data[0].picturetype%>" alt="<%=data[0].profilepicture%>">
                                    </div>
                                </div>
                                
                            <% } else { %>
                                <div class="profilePictureArea" id="profilePictureArea">
                                    <div class="profilePicture" id="profilePicture">
                                        <img width="259" height="229" src="/../images/default-user.png" alt="default-user.png">
                                    </div>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div style="width:100%;float:left;border-bottom: 2px solid #eee;">
                            <div style="float:left;width:45%;">
                                <h1 class=""><%=data[0].name%></h1>
                            </div>
                            <div style="float:right;">
                                
                            </div>
                        </div>
                        <div class="userProfile" >
                            <ul class="personalData">
                                <li><strong>Email: </strong> <%=data[0].email%></li>
                                <li><strong>Phone: </strong> <%=data[0].phone%></li>
                                <li><strong>Address: </strong> <%=data[0].address%></li>
                                <li><strong>About Me: </strong> <%=data[0].aboutme%></li>
                            </ul>
                            <div class="socialMedia">
                                <h3>Social Profile</h3>
                                <ul class="socialMediaData">
                                    <% if( data[0].fbLink ) { %>
                                        <li><a target="_blank" href="<%=data[0].fbLink%>"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                                    <% } %>
                                    <% if( data[0].twLink ) { %>
                                        <li><a target="_blank" href="<%=data[0].twLink%>"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                                    <% } %>
                                    <% if( data[0].liLink ) { %>
                                        <li><a target="_blank" href="<%=data[0].liLink%>"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
                                    <% } %>
                                </ul>
                            </div>
                            <% if( session.userId != data[0].userid ) { %>

                            <div class="privateMessage">
                                <h3>Send Message To <%=data[0].name%></h3>
                                <form action="/customers/userprofile/<%=data[0].userid%>" method="post">
                                    <textarea placeholder="compose Message" name="message"></textarea>
                                    <input type="hidden" name="sentto" value="<%=data[0].userid%>" >
                                    <input type="submit" value="Send" name="privatemessage">
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                <% }else{ %>
                    <strong>No Data Available.</strong>
                <% } %>
            </div>
        </div>
        
<%- include layouts/footer.ejs %>
